/**/
.add-staff-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}


/*หน้าเมนู*/

.shop-container {
    display: flex; /* ใช้ flexbox เพื่อจัดระเบียบ layout */
  }
  
  .main-content {
    width: 80%; /* เนื้อหาหลักจะอยู่ทางซ้ายมือและกว้าง 80% */
    padding: 20px;
    margin-right: 20px; /* เพิ่มระยะห่างระหว่างเมนูกับ Cart */
  }

  .page-content{
    position: relative;
    margin-left: 130px;


  }
  
  .menu-nav {
    position: relative;
    display: flex;
    margin-left: 20%; 
    font-family: 'Merriweather', serif;
    font-size: 18px;
    
  }

  .custom-button{
    border-radius: 7px;
    border-color: #ec6d71;
  }
  
  .menu-display {
    position: relative;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    justify-content: space-between;
   
   
  }
  .card{
    position: relative;
    border-radius: 10px;
    border-color: black; }

   .add{
    position: relative;
    border-radius: 10px;
    background-color: rgb(204, 222, 184);
    width: 100px;
    font-family: 'Merriweather', serif;

   }

  .menu-item {
   
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .menu-item img {
    width: 150px; /* ความกว้างรูป */
    height: 150px; /* ความสูงรูป */
    object-fit: cover; /* ปรับรูปให้อยู่ในขอบเขตขนาดที่กำหนด */
    border-radius: 5px;
  }
  h3{
    font-family: 'Merriweather', serif;
  }
  p{
    font-family: 'Merriweather', serif;
  }
  .add-staff-form button{
    background-color: #39ad60;
    color: #0c0c0c;
  }
  .add-menu-form button{
    background-color: #39ad60;
    color: #0c0c0c;
    margin-left: 10%;
  }
  .add-menu-form h2{
    margin-top: 20px;
  }
  
  
  